<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="container">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
    <div class="field">
    <%= f.label :physical_activity %><br />
    <%= f.text_field :physical_activity, class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :dietary_restrictions %><br />
    <%= f.text_field :dietary_restrictions, class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :entertainment_type %><br />
    <%= f.text_field :entertainment_type, class: "form-control" %>
  </div>
   <div class="field">
    <%= f.label :cuisine %><br />
    <%= f.text_field :cuisine, class: "form-control" %>
  </div>
     <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
  <!-- <%= f.fields_for :user_preferences do |up| %>
       <%= up.label :physical_activity %><br />

      <%= up.text_area :physical_activity, cols: 40, rows: 3, placeholder: 'High, Medium, or Low' %>
    <% end %> -->


  <div class="actions">
    <%= f.submit "Sign up",class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
