<div id="<%= dom_id user_preference %>">
  <p>
    <strong>Vehicle:</strong>
    <%= user_preference.vehicle %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= user_preference.price %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= user_preference.cuisine %>
  </p>

  <p>
    <strong>Dietary restrictions:</strong>
    <%= user_preference.dietary_restrictions %>
  </p>

  <p>
    <strong>Entertainment type:</strong>
    <%= user_preference.entertainment_type %>
  </p>

  <p>
    <strong>Physical activity:</strong>
    <%= user_preference.physical_activity %>
  </p>

  <p>
    <strong>Shopping venue:</strong>
    <%= user_preference.shopping_venue %>
  </p>

</div>
