<div id="<%= dom_id place %>">
  <p>
    <strong>Title:</strong>
    <%= place.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= place.description %>
  </p>
    <p>
    <strong>Address:</strong>
    <%= place.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= place.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= place.category %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= place.cuisine %>
  </p>

  <p>
    <strong>Dietary restrictions:</strong>
    <%= place.dietary_restrictions %>
  </p>

  <p>
    <strong>Entertainment type:</strong>
    <%= place.entertainment_type %>
  </p>

  <p>
    <strong>Physical activity:</strong>
    <%= place.physical_activity %>
  </p>

  <p>
    <strong>Shopping venue:</strong>
    <%= place.shopping_venue %>
  </p>

</div>
